services:

  postgresql:
    image: postgres:latest
    container_name: postgresql
    environment:
      - POSTGRES_DB=cadr
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./.containers/cadr.database:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - ./.containers/cadr.azurite:/data
    command: azurite --blobHost 0.0.0.0 --queueHost 0.0.0.0 --tableHost 0.0.0.0
    restart: always